extends layout

block content

  div(class="main-wrapper", ng-controller="main")
    header
      h1(class="title-logo") Barkr
      a(href="mailto:benbli@gmail.com?subject=barkr%20feedback", target="_blank", class="fa fa-envelope", id="about-link")
      a(href="https://github.com/benbli/projectBarkr", class="fa fa-github-square", id="github-icon")
      img(src="/images/Thought_bubble.png" id="ponderings")
      img(hidden src='/images/tennis-ball1.png' id="thought-picture")
  
    
    section(id="left-section")
      div(class="form-wrapper")
        br
        h5.playdate-titles SET UP A PLAYDATE
        img(src="/images/bulldog.png" id="bully")

        form(ng-submit="createPlaydate()" id="setup-date-form")
          label(for="form-time") Time
          input(type="text" ng-model="newPlaydate.time", id="form-time", placeholder="eg. 1/18 5pm")
          label(for="form-location") Location
          input(type="text" ng-model="newPlaydate.location", id="form-location" placeholder="Tompkins Square Park NY, NY")
          input(type="submit", class="button-primary", value="bark") 
    
        
      div(class="playdates-wrapper")
        div(class="playdates-list")
          div(class="playdate-header")
            h5.playdate-titles CURRENT PLAYDATES     
          
          table(class="u-full-width")
            thead
              tr
                th 
                  span.location-th  Location 
                th  
                  i(class="fa fa-clock-o" id="clock-icon") 
            tbody(ng-repeat="playdate in playdates | orderBy: '-createdAt'" ng-click="recenterMap(playdate.coordinates)")
              tr
                td
                  i(class="fa fa-map-marker")  
                  a  {{ playdate.location }}
                td 
                  a {{ playdate.time }} 
    
    div(class="map-wrapper")  
      div(id="map")
