header {
  width: 100%;
  height: 8rem;
  margin-left: 2rem;
}

#left-section {
  height: 580px;
}

#map {
  height: 375px;
}

#about-link {
  float: right;
  margin-left: 2rem;
  margin-top: 4rem;
}

#github-icon {
  float: right;
  margin-top: 4rem;
  left: 20rem;
}

#ponderings {
  display: none;
}

#bully {
  left: 28rem;
}
.main-wrapper {
  width: 400px;
  padding-left: 2rem;
}

.map-wrapper {
  width: 400px;
}

.playdates-list {
  height: 300px;
}

.form-wrapper {
  width: 400px;
}
